*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
#/gradle/
.gradle/
#gradlew
#gradlew.bat
build
/.idea/
/twitter.txt
#gradle/
#gradlew
#gradlew.bat
spark-warehouse/
src/main/resources/2016_09_12.zip
src/main/resources/2016_09_12/
src/main/resources/allSoTags.json
src/main/resources/data/
src/main/resources/lrModel.zip
src/main/resources/lrModel/
src/main/resources/mate/
src/main/resources/opennlp/
src/main/resources/stopwords.txt
src/main/resources/tagRelativFreq.txt
